.starDB {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: dimgrey;
  color: white;
  padding: 0 16px;
  height: 100%;

  @media (max-width: 460px) {
    height: auto;
  }

  @media (max-width: 340px) {
    padding: 10px;
  }

  &__container {
    width: 100%;
    display: flex;
    justify-content: center;

    @media (max-width: 1024px) {
      flex-direction: column;

    }
  }

  &__title {
    margin: 0;
  }
}
