.error {
  display: flex;
  flex-direction: column;
  padding: 20px 16px;

  &__text {
    margin-bottom: 10px;

    &_theme_blood {
      color: #ff5700;
    }

    &_theme_gold {
      color: goldenrod;
    }

    &_size_big {
      font-size: 20px;
    }

  }

  &_hide {
    display: none;
  }
}
