.toDo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &__list {
    min-width: 200px;
    margin-top: 0;
    font-size: 20px;
  }

  &__item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
    list-style-type: upper-roman;
  }

  &__text {
    margin-right: 20px;
  }

  &__index {
    margin-right: 5px;
  }

  &__button {

    &_type_create {
      padding: 10px 40px;
      font-size: 16px;
    }

    &_type_delete {
      background-color: transparent;
      padding: 5px 10px;
      border: 0.5px solid black;

    }
  }
}
