.input {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;

  &_size_small {
    width: 50%;
  }

  &__label {
    font-weight: bold;
    margin-bottom: 5px;
  }

  &__field {
    padding: 5px;
    border-radius: 5px;
    border: 1px solid rgba(0, 0, 0, 0.5);
    font-size: 20px;

    &_size_small {
      font-size: 14px;
    }

    &_theme_dark {
      color: white;
      background-color: #d6d6d6;
    }
  }
}
