* {
    box-sizing: border-box;
}

body {
    font: 16px "Century Gothic", Futura, sans-serif;
    margin: 0;
    padding: 0;
    max-width: 1000px;
}

ol, ul {
    padding-left: 30px;
}

.root {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.main {
    width: 100%;
}
